@using Nhom3_QLBanGiay.Areas.Admin.ViewModels
@model SanPhamViewModel


@{
    ViewData["Title"] = "ThemSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*@if (ViewBag.Errors != null && ViewBag.Errors.Count > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error.Value</li>
            }
        </ul>
    </div>
}*@
<div class="pt-3 w-100">
    <div class="row w-100 m-0 mt-3">
        <div class="col-md-6">
            <h4 class="ml-4">Trang chủ / Thêm sản phẩm</h4>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div>
                <a asp-action="DanhSachSanPham" class="btn btn-info mr-5">Xem danh sách</a>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Msg))
    {
        <div class="alert alert-danger row m-0 pl-5 pr-5 mt-5 w-100">@ViewBag.Msg</div>
    }
    <div class="row m-0 mt-5" style="width:100%">
        <div class="col-md-12" style="padding:0 30px">
            <form asp-action="ThemSanPham" class="was-validated">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row m-0" style="width:100%">
                    <div class="col-md-4">
                        <div class="row m-0" style="width:100%">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.MaSanPham" class="control-label"></label>
                                    <input id="inputSPMa" asp-for="@Model.SanPham.MaSanPham" class="form-control"
                                        oninput="updateInputs(this.value)" placeholder="Enter your code" required />
                                    <div class="invalid-feedback valid-masp">
                                        Please enter the product code.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.TenSanPham" class="control-label"></label>
                                    <input asp-for="@Model.SanPham.TenSanPham" class="form-control" placeholder="Enter your name" required />
                                    <div class="invalid-feedback">
                                        Please enter the product name.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.ChatLieu" class="control-label"></label>
                                    <input asp-for="@Model.SanPham.ChatLieu" class="form-control" placeholder="Enter your material" required />
                                    <div class="invalid-feedback">
                                        Please enter the product material.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.GiaNhap" class="control-label"></label>
                                    <input asp-for="@Model.SanPham.GiaNhap" class="form-control" type="number" step="0.1"
                                           placeholder="Enter your import price" required />
                                    <div class="invalid-feedback">
                                        Please enter the product import price.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.GiaBan" class="control-label"></label>
                                    <input asp-for="@Model.SanPham.GiaBan" class="form-control" type="number" step="0.1"
                                           placeholder="Enter your selling price" required />
                                    <span asp-validation-for="@Model.SanPham.GiaBan" class="text-danger"></span>
                                    <div class="invalid-feedback">
                                        Please enter the product selling price.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.HinhAnhAvatar" class="control-label"></label>
                                    <input asp-for="@Model.SanPham.HinhAnhAvatar" class="form-control" placeholder="Enter your avatar" required />
                                    <div class="invalid-feedback">
                                        Please enter the product avatar.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.MaLoaiSp" class="control-label"></label>
                                    <select asp-for="@Model.SanPham.MaLoaiSp" class="form-control" required>
                                        <option value="" disabled selected>--Choose--</option>
                                        @foreach (var item in ViewBag.MaLoaiSp)
                                        {
                                            <option value="@item.MaLoaiSp">@item.TenLoaiSp</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Please choose the product type.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.SanPham.MaDoiTuongMh" class="control-label"></label>
                                    <select asp-for="@Model.SanPham.MaDoiTuongMh" class="form-control" required>
                                        <option value="" disabled selected>--Choose--</option>
                                        @foreach (var item in ViewBag.MaDoiTuongMh)
                                        {
                                            <option value="@item.MaDoiTuongMh">@item.TenDoiTuongMh</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Please choose the product type.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row m-0" style="width:100%">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label asp-for="@Model.MauSac.MaMauSac" class="control-label"></label>
                                    <select class="form-control color-select" asp-items="ViewBag.MaMauSac"></select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label asp-for="@Model.KichThuoc.MaKichThuoc" class="control-label"></label>
                                    <select class="form-control size-select" asp-items="ViewBag.MaKichThuoc"></select>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center align-items-center pt-3">
                                <p id="add-btn" class="add-btn btn btn-success m-0" style="cursor:pointer">Thêm</p>
                            </div>
                        </div>
                        <div class="row m-0 mt-2 d-flex justify-content-center align-items-center" style="width:100%">
                            <p>Kết quả: </p>
                        </div>
                        @*@for (var i = 0; i < ViewBag.Count*2; i++)
                        {
                            <div class="row m-0 result-row" style="width:100%; display:none;">
                                <input type="hidden" asp-for="@Model.ChiTietSanPham[i].MaSanPham" class="inputMaSanPham">
                                <div class="form-group pl-3 pr-3" style="float:left; width: 30%;">
                                    <label asp-for="@Model.ChiTietSanPham[i].MaMauSac" class="control-label"></label>
                                    <select asp-for="@Model.ChiTietSanPham[i].MaMauSac" class="form-control color-result" readonly></select>
                                </div>
                                <div class="form-group pl-3 pr-3" style="float:left; width: 30%;">
                                    <label asp-for="@Model.ChiTietSanPham[i].MaKichThuoc" class="control-label"></label>
                                    <select asp-for="@Model.ChiTietSanPham[i].MaKichThuoc" class="form-control size-result" readonly></select>
                                </div>
                                <div class="form-group pl-3 pr-3" style="float:left; width: 20%;">
                                    <label asp-for="@Model.ChiTietSanPham[i].SoLuong" class="control-label"></label>
                                    <input class="form-control qty-result" asp-for="@Model.ChiTietSanPham[i].SoLuong" type="number" min="0" required />
                                    <div class="invalid-feedback">
                                        Please choose the product quantity.
                                    </div>
                                </div>
                                <div class="pr-3 d-flex justify-content-center align-items-center" style="float:left; width: 20%;padding-top:35px;">
                                    <p class="btn btn-danger d-flex justify-content-center align-items-center m-0 rm-row"><i class="ti-trash"></i></p>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        }*@
                        <div id="container">
                            <div class="row m-0 result-row" style="width:100%; display:none;">
                                <!-- form elements go here -->
                            </div>
                        </div>

                        <button id="add-row-btn">Add Row</button>
                    </div>
                </div>
                <div class="row m-0 mt-5 " style="width:100%">
                    <div class="form-group d-flex justify-content-center align-items-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                @*<p style="cursor:pointer" onclick="submitForm()">Submit</p>*@
            </form>
        </div>
    </div>
</div>



<script>

    //const rmRowElements = document.querySelectorAll('.rm-row');
    //rmRowElements.forEach((rmRowElement) => {
    //  rmRowElement.addEventListener('click', () => {
    //    const resultRowElement = rmRowElement.closest('.result-row');
    //    const resultRowInputs = resultRowElement.querySelectorAll('input, select');
    //    resultRowInputs.forEach((resultRowInput) => {
    //      resultRowInput.value = '';
    //    });
    //    resultRowElement.style.display = 'none';
    //  });
    //});


    const container = document.getElementById("container");
    const addButton = document.getElementById("add-btn");
    let indexCT=0;
    addButton.addEventListener("click", function () {
        var colorSelect = document.querySelector('.color-select');
        var sizeSelect = document.querySelector('.size-select');
        var selectedColorValue = colorSelect.options[colorSelect.selectedIndex].value;
        var selectedColorText = colorSelect.options[colorSelect.selectedIndex].text;
        var selectedSizeValue = sizeSelect.options[sizeSelect.selectedIndex].value;
        var selectedSizeText = sizeSelect.options[sizeSelect.selectedIndex].text;
        //var inputs = document.querySelectorAll('.result-row');
        //var exists = false;
        //if (inputs!=null){
        //    for (var i = 0; i < inputs.length; i++) {
        //        var colorResult = inputs[i].querySelector('.color-result');
        //        var sizeResult = inputs[i].querySelector('.size-result');
        //        if (colorResult.value === selectedColorValue && sizeResult.value === selectedSizeValue) {
        //            alert('Màu và kích thước đã tồn tại. Vui lòng chọn lại!');
        //            exists = true;
        //            break;
        //        }
        //    }
        //}
        //if (!exists) {
        const newRow = document.createElement("div");
        newRow.className = "row m-0 result-row";
        newRow.style.width = "100%";
        // create and append form elements here, for example:
        newRow.innerHTML = `
                  <input class="inputMaSanPham" data-val="true" data-val-required="The MaSanPham field is required." id="ChiTietSanPham_${indexCT}__MaSanPham" name="ChiTietSanPham[${indexCT}].MaSanPham" readonly>
          <div class="form-group pl-3 pr-3" style="float:left; width: 30%;">
                  <label class="control-label" for="ChiTietSanPham_${indexCT}__MaMauSac">MaMauSac</label>
                      <select class="form-control color-result" readonly="" data-val="true" data-val-required="The MaMauSac field is required." id="ChiTietSanPham_${indexCT}__MaMauSac" name="ChiTietSanPham[${indexCT}].MaMauSac">
                <option value="${selectedColorValue}">${selectedColorText}</option>
              </select>
          </div>
          <div class="form-group pl-3 pr-3" style="float:left; width: 30%;">
                  <label class="control-label" for="ChiTietSanPham_${indexCT}__MaKichThuoc">MaKichThuoc</label>
                      <select class="form-control size-result" readonly="" data-val="true" data-val-required="The MaKichThuoc field is required." id="ChiTietSanPham_${indexCT}__MaKichThuoc" name="ChiTietSanPham[${indexCT}].MaKichThuoc">
                <option value="${selectedSizeValue}">${selectedSizeText}</option>
              </select>
          </div>
          <div class="form-group pl-3 pr-3" style="float:left; width: 20%;">
                  <label class="control-label" for="ChiTietSanPham_${indexCT}__SoLuong">SoLuong</label>
                      <input class="form-control qty-result" type="number" min="0" required="" id="ChiTietSanPham_${indexCT}__SoLuong" name="ChiTietSanPham[${indexCT}].SoLuong" value="">
              <div class="invalid-feedback">
                  Please choose the product quantity.
              </div>
          </div>
          <div class="pr-3 d-flex justify-content-center align-items-center" style="float:left; width: 20%;padding-top:35px;">
              <p class="btn btn-danger d-flex justify-content-center align-items-center m-0 rm-row"><i class="ti-trash"></i></p>
          </div>
          <div style="clear:both;"></div>
        `;
            indexCT++;
        //}
        container.appendChild(newRow);
        const inputs = document.querySelectorAll(".inputMaSanPham");
        // Lặp qua từng input và cập nhật giá trị mới
        inputs.forEach(input => {
            input.value = document.getElementById("inputSPMa").value.trim();
        });
    });



</script>


<script>
    function updateInputs(value) {
        // Tìm tất cả các input có class là inputMaSanPham
        const inputs = document.querySelectorAll(".inputMaSanPham");
        // Lặp qua từng input và cập nhật giá trị mới
        inputs.forEach(input => {
            input.value = value.trim();
        });
    }


    // Lấy tất cả các result-row có class là 'result-row'
    //var resultRows = document.querySelectorAll('.result-row');

    //// Duyệt qua từng result-row
    //resultRows.forEach(function (resultRow) {
    //    // Nếu result-row đang ẩn
    //    if (resultRow.style.display === 'none') {
    //        // Tìm tất cả các input và select bên trong result-row
    //        var inputs = resultRow.querySelectorAll('input, select');
    //        // Duyệt qua từng input và select để đặt trạng thái disabled=true
    //        inputs.forEach(function (input) {
    //            input.disabled = true;
    //        });
    //    }
    //});


</script>


<script>
    //function submitForm() {
    //    // Lấy các giá trị trong form
    //    const formData = new FormData(document.querySelector('form'));

    //    // Tạo một đối tượng có các cặp key-value tương ứng
    //    const data = {};
    //    for (let [key, value] of formData.entries()) {
    //        data[key] = value;
    //    }

    //    // In ra các cặp key-value tương ứng
    //    console.log(data);
    //}
</script>

<script>
    // Add click event listener to "Add" button
    //document.querySelector('.add-btn').addEventListener('click', function () {
    //    // Find the first hidden result row within the for loop
    //    var resultRow = document.querySelector('.result-row[style*="display:none"]');
    //    if (resultRow) {
    //        // Get the selected values and text from the two select dropdowns
    //        var colorSelect = document.querySelector('.color-select');
    //        var sizeSelect = document.querySelector('.size-select');
    //        var selectedColorValue = colorSelect.options[colorSelect.selectedIndex].value;
    //        var selectedColorText = colorSelect.options[colorSelect.selectedIndex].text;
    //        var selectedSizeValue = sizeSelect.options[sizeSelect.selectedIndex].value;
    //        var selectedSizeText = sizeSelect.options[sizeSelect.selectedIndex].text;

    //        // Check if the selected color and size pair already exist in the list
    //        var inputs = document.querySelectorAll('.result-row');
    //        var exists = false;
    //        for (var i = 0; i < inputs.length; i++) {
    //            var colorResult = inputs[i].querySelector('.color-result');
    //            var sizeResult = inputs[i].querySelector('.size-result');
    //            if (colorResult.value === selectedColorValue && sizeResult.value === selectedSizeValue) {
    //                alert('Màu và kích thước đã tồn tại. Vui lòng chọn lại!');
    //                exists = true;
    //                break;
    //            }
    //        }

    //        if (!exists) {
    //            // Display the result row by changing its style attribute
    //            resultRow.style.display = 'block';
    //            // Tìm tất cả các input và select bên trong result-row
    //            var inputs = resultRow.querySelectorAll('input, select');
    //            // Duyệt qua từng input và select để đặt trạng thái disabled=false
    //            inputs.forEach(function (input) {
    //                input.disabled = false;
    //            });
    //            // Assign the selected values and text to the corresponding input fields
    //            var colorResultInput = resultRow.querySelector('.color-result');
    //            var sizeResultInput = resultRow.querySelector('.size-result');

    //            var option = document.createElement("option");
    //            option.value = selectedColorValue;
    //            option.text = selectedColorText;
    //            colorResultInput.add(option);
    //            colorResultInput.value = selectedColorValue;
    //            //colorResultInput.disabled = true;

    //            var option2 = document.createElement("option");
    //            option2.value = selectedSizeValue;
    //            option2.text = selectedSizeText;
    //            sizeResultInput.add(option2);
    //            sizeResultInput.value = selectedSizeValue;
    //            //sizeResultInput.disabled = true;
    //        }
    //    }
    //});
</script>


<script>

    //const rmRowElements = document.querySelectorAll('.rm-row');
    //rmRowElements.forEach((rmRowElement) => {
    //    rmRowElement.addEventListener('click', () => {
    //        const resultRowElement = rmRowElement.closest('.result-row');
    //        const resultRowInputs = resultRowElement.querySelectorAll('input, select');
    //        resultRowInputs.forEach((resultRowInput) => {
    //            resultRowInput.value = '';
    //        });
    //        resultRowElement.style.display = 'none';
    //    });
    //});


</script>